<a href="https://colab.research.google.com/github/robsonbfreitas/CalculadoraDeAluguel/blob/main/AnaliseDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.vivareal.com.br/venda/sp/sao-paulo/apartamento_residencial/'

In [3]:
c = requests.get(url).content

In [4]:
soup = BeautifulSoup(c)

In [5]:
aluguel_tag = soup.find_all('div', {'class':'property-card__price js-property-card-prices js-property-card__price-small'})

In [6]:
len(aluguel_tag)
paginas = ['']
for i in range(2,40):
    a = '?pagina='+str(i)
    print(a)
    paginas.append(a)

?pagina=2
?pagina=3
?pagina=4
?pagina=5
?pagina=6
?pagina=7
?pagina=8
?pagina=9
?pagina=10
?pagina=11
?pagina=12
?pagina=13
?pagina=14
?pagina=15
?pagina=16
?pagina=17
?pagina=18
?pagina=19
?pagina=20
?pagina=21
?pagina=22
?pagina=23
?pagina=24
?pagina=25
?pagina=26
?pagina=27
?pagina=28
?pagina=29
?pagina=30
?pagina=31
?pagina=32
?pagina=33
?pagina=34
?pagina=35
?pagina=36
?pagina=37
?pagina=38
?pagina=39

In [7]:
import pandas as pd

In [8]:
def converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista):
    data = {'aluguel':aluguel_lista,
           'quartos':quartos_lista,
           'endereco':endereco_lista,
           'banheiro':banheiro_lista,
            'vaga':vaga_lista,
            'area':area_lista}
    df = pd.DataFrame(data)
    return df

In [9]:
def scrap(url):
    c = requests.get(url).content
    soup = BeautifulSoup(c)
    
    aluguel_tag = soup.find_all('div', {'class':'property-card__price js-property-card-prices js-property-card__price-small'}) 
    aluguel_lista = [p.text for p in aluguel_tag] 
    #print(len(aluguel_lista)) 
    
    quartos_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-room js-property-detail-rooms'}) 
    quartos_lista = [en.text for en in quartos_tag] 
    #print(len(quartos_lista)) 
    
    endereco_tag = soup.find_all('span', {'class': 'property-card__address'}) 
    endereco_lista = [fg.text for fg in endereco_tag] 
    #print(len(endereco_lista)) 
    
    banheiro_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-bathroom js-property-detail-bathroom'}) 
    banheiro_lista = [yp.text for yp in banheiro_tag] 
    #print(len(banheiro_lista))

    vaga_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-garage js-property-detail-garages'}) 
    vaga_lista = [yp.text for yp in vaga_tag] 

    area_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-area'}) 
    area_lista = [yp.text for yp in area_tag] 


    ### Vamos ter criar uma função para transformar listas em df
    df=converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista)
    
    return df

In [10]:
URL = 'https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/{}'

In [11]:
df_lista = []
for pg in paginas:
    url = URL.format(pg)
    print('Coletando URL:', url)
    try:
        df = scrap(url)
    except Exception as e:
        print('Erro ao coletar dados na url:', url)
        print(e)
    df_lista.append(df)

Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=2
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=3
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=4
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=5
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=6
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=8
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=9
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=10
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=11
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=12
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=13
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=14
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=15
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=16
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=17
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=18
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=19
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=20
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=21
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=22
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=23
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=24
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=25
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=26
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=27
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=28
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=29
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=30
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=31
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=32
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=33
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=34
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=35
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=36
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=37
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=38
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/apartamento_residencial/?pagina=39

In [12]:
df_final = pd.concat(df_lista)

In [13]:
df_final.head()

              aluguel          quartos  ...           vaga         area
0     R$ 1.900 /Mês      2   Quartos    ...    --   Vaga      33   m²
1     R$ 2.800 /Mês       1   Quarto    ...     1   Vaga      70   m²
2     R$ 2.690 /Mês      2   Quartos    ...     1   Vaga      73   m²
3     R$ 3.600 /Mês       1   Quarto    ...     1   Vaga      35   m²
4     R$ 1.050 /Mês       1   Quarto    ...    --   Vaga      38   m²

[5 rows x 6 columns]

In [14]:
df_final['bairro'] = df_final.endereco.str.split('\s-').str[1]
df_final['rua'] = df_final.endereco.str.split('\s-').str[0]
df_final['bairro'] = df_final.bairro.str.split(',').str[0]

In [15]:
df_final.head()

              aluguel  ...                                   rua
0     R$ 1.900 /Mês    ...  Rua Cônego Vicente Miguel Marino, 29
1     R$ 2.800 /Mês    ...             Rua Almirante Brasil, 243
2     R$ 2.690 /Mês    ...        Rua Doutor Diogo de Faria, 929
3     R$ 3.600 /Mês    ...           Rua Gomes de Carvalho, 1146
4     R$ 1.050 /Mês    ...                     Centro, São Paulo

[5 rows x 8 columns]

In [16]:
df_final['quartos'] = df_final.quartos.str.extract('(.*) Quarto')
df_final['banheiro'] = df_final.banheiro.str.extract('(.*) Banheiro')
df_final['vaga'] = df_final.vaga.str.extract('(.*) Vaga')
df_final['area'] = df_final.area.str.extract('(.*)  m²')

In [17]:
df_final.head()

              aluguel  ...                                   rua
0     R$ 1.900 /Mês    ...  Rua Cônego Vicente Miguel Marino, 29
1     R$ 2.800 /Mês    ...             Rua Almirante Brasil, 243
2     R$ 2.690 /Mês    ...        Rua Doutor Diogo de Faria, 929
3     R$ 3.600 /Mês    ...           Rua Gomes de Carvalho, 1146
4     R$ 1.050 /Mês    ...                     Centro, São Paulo

[5 rows x 8 columns]

In [18]:
 df_final['aluguel'] = df_final.aluguel.str.extract('R\$ (.*) /Mês')
 df_final['aluguel'] = df_final['aluguel'].replace('\.', '', regex=True)

In [19]:
df_final.head()

  aluguel quartos  ...            bairro                                   rua
0    1900     2    ...       Barra Funda  Rua Cônego Vicente Miguel Marino, 29
1    2800     1    ...             Móoca             Rua Almirante Brasil, 243
2    2690     2    ...   Vila Clementino        Rua Doutor Diogo de Faria, 929
3    3600     1    ...      Vila Olímpia           Rua Gomes de Carvalho, 1146
4    1050     1    ...                SP                     Centro, São Paulo

[5 rows x 8 columns]

In [21]:
df_teste = df_final

In [22]:
colunas = df_teste.drop(columns=['endereco','bairro','rua'])

In [23]:
colunas

   aluguel quartos banheiro    vaga    area
0     1900     2        1      --       33
1     2800     1        2       1       70
2     2690     2        2       1       73
3     3600     1        1       1       35
4     1050     1        1      --       38
..     ...     ...      ...     ...     ...
31    3000     1        1       1       50
32     900     2        1       1       45
33    3500     4        3       1      110
34    2500     3        3       2      125
35    6500     4        6       4      288

[1404 rows x 5 columns]

In [24]:
df_teste.head()

  aluguel quartos  ...            bairro                                   rua
0    1900     2    ...       Barra Funda  Rua Cônego Vicente Miguel Marino, 29
1    2800     1    ...             Móoca             Rua Almirante Brasil, 243
2    2690     2    ...   Vila Clementino        Rua Doutor Diogo de Faria, 929
3    3600     1    ...      Vila Olímpia           Rua Gomes de Carvalho, 1146
4    1050     1    ...                SP                     Centro, São Paulo

[5 rows x 8 columns]

In [25]:
df_teste['endereco'].nunique()

40

In [27]:
df_teste = df_teste.drop_duplicates(subset=['endereco','aluguel'], keep='first', inplace=False)

In [28]:
df_teste.shape

(40, 8)

In [30]:
df_teste.to_csv('limpo.csv')

In [31]:
df_teste.describe()

       aluguel quartos  ...       bairro               rua
count       40      40  ...           40                40
unique      32       4  ...           32                40
top       3000     1    ...   Campo Belo  Alameda Jaú, 310
freq         3      15  ...            3                 1

[4 rows x 8 columns]

In [32]:
cols = df_teste.columns.drop(['endereco','bairro','rua'])

In [33]:
cols

Index(['aluguel', 'quartos', 'banheiro', 'vaga', 'area'], dtype='object')

In [ ]:
df_teste[cols] = df_teste[cols].apply(pd.to_numeric, erros='coerce')

In [34]:
df_teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 35
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aluguel   40 non-null     object
 1   quartos   40 non-null     object
 2   endereco  40 non-null     object
 3   banheiro  40 non-null     object
 4   vaga      40 non-null     object
 5   area      40 non-null     object
 6   bairro    40 non-null     object
 7   rua       40 non-null     object
dtypes: object(8)
memory usage: 2.8+ KB

In [35]:
df_teste.describe()

       aluguel quartos  ...       bairro               rua
count       40      40  ...           40                40
unique      32       4  ...           32                40
top       3000     1    ...   Campo Belo  Alameda Jaú, 310
freq         3      15  ...            3                 1

[4 rows x 8 columns]

In [36]:
min(df_teste.aluguel)

'1050'

In [37]:
df_teste.head(20)

   aluguel quartos  ...                bairro                                   rua
0     1900     2    ...           Barra Funda  Rua Cônego Vicente Miguel Marino, 29
1     2800     1    ...                 Móoca             Rua Almirante Brasil, 243
2     2690     2    ...       Vila Clementino        Rua Doutor Diogo de Faria, 929
3     3600     1    ...          Vila Olímpia           Rua Gomes de Carvalho, 1146
4     1050     1    ...                    SP                     Centro, São Paulo
5     7500     3    ...               Jardins            Rua José Maria Lisboa, 514
6     4300     1    ...            Campo Belo          Rua Gabriele D'Annunzio, 624
7     3150     1    ...              Brooklin                     Rua Castilho, 155
8     2800     1    ...            Campo Belo                     Rua Vapabussu, 66
9     8000     2    ...          Vila Olímpia      Rua Professor Vahia de Abreu, 41
10    3000     1    ...             Pinheiros               Rua Capote Valente, 929
11    2300     2    ...    Jardim das Acacias                 Rua Santo Arcádio, 43
12    2450     1    ...     Alto Da Boa Vista                     Rua São José, 150
13    3200     4    ...          Vila Andrade                      Rua Alcantarilla
14    3000     3    ...         Alto da Mooca              Rua França Carvalho, 137
15    1400     1    ...         Santa Cecília         Rua São Vicente de Paulo, 124
16    1800     1    ...                Sumaré                 Rua André Casado, 215
17    2700     3    ...                    SP               Vila Mariana, São Paulo
18    2700     2    ...                Centro           Rua Álvaro de Carvalho, 134
19    4000     1    ...   Vila Nova Conceição                 Rua Diogo Jácome, 554

[20 rows x 8 columns]

In [39]:
df_teste.isnull().sum()

aluguel     0
quartos     0
endereco    0
banheiro    0
vaga        0
area        0
bairro      0
rua         0
dtype: int64